<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form action="#">
			<h1>Entrar</h1>
			<span>Preencha os campos abaixo</span>
            <input type="text" placeholder="Nome" />
            <input type="text" placeholder="Província" />
            <input type="email" placeholder="Email" />
            <input type="password" placeholder="Crie uma passe" />
			<a routerLink="/login">Já tenho uma conta</a>
			<button class="enter">Entrar</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Empregadores</h1>
				<p>Crie uma conta institúcional para sua empresa ou organização e tenha acesso a vasta gama de serviços que lhe estamos a oferecer</p>
                <a class="ghost" id="signUp" routerLink="/institucional">conta institucional</a>
			</div>
		</div>
	</div>
</div>

<footer>
	<p>
		Leia os nossos termos de uso e política de privacidade
		<a routerLink="/termos"> clicando aqui</a>.
	</p>
</footer>