<!-- Start feature Area -->
<section class="feature-area section-gap-top">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center">
                    <h2>Encontre já um salo!</h2>
                    <p>Não fique a enviar currículos por toda parte, inscreva-te em mais de 600 empregos e estágios sem saír de casa em três passos.
                    </p>
                </div>
            </div>
        </div>
        <div class="row single-feature-rows">
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <a href="#" class="title">
                        <span class="lnr lnr-book"></span>
                        <h3>Crie uma conta grátis</h3>
                    </a>
                    <p>
                        Com o nosso formulário simples, rápido e intuítivo, <a routerLink="/signup">crie uma conta</a> em segundos!
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <a href="#" class="title">
                        <span class="lnr lnr-book"></span>
                        <h3>Prepare uma candidatura</h3>
                    </a>
                    <p>
                        Deixe-nos ajudar a preparar o currículo que funciona e chama atenção das empresas.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <a href="#" class="title">
                        <span class="lnr lnr-book"></span>
                        <h3>Comece já a bumbar!</h3>
                    </a>
                    <p>
                        Notificamos as decisões das empresas com rapidez e nunca o fizemos esperar por longos dias. 
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End feature Area -->
