<app-navbar></app-navbar>
<div class="container parentHolder">

    <div class="row">

        <!-- side options -->
        <div class="col-lg-3">
            
            <div class="single-sidebar-widget post-category-widget">
                <h4 class="category-title">Serviços</h4>
                <ul class="cat-list">
                    <li>
                        <a href="#" class="d-flex justify-content-between">
                            <p>Technology</p>
                            <p>37</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="d-flex justify-content-between">
                            <p>Lifestyle</p>
                            <p>24</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="d-flex justify-content-between">
                            <p>Fashion</p>
                            <p>59</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="d-flex justify-content-between">
                            <p>Art</p>
                            <p>29</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="d-flex justify-content-between">
                            <p>Food</p>
                            <p>15</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="d-flex justify-content-between">
                            <p>Architecture</p>
                            <p>09</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="d-flex justify-content-between">
                            <p>Adventure</p>
                            <p>44</p>
                        </a>
                    </li>
                </ul>
            </div>



        </div>

        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-8">
                    <h1>Side Bar</h1>
                </div>

                <div class="col-lg-4">
                    <input placeholder="Procure aqui..." name="search" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Procure aqui'">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
            
        </div>




    </div>


</div>
<app-footer></app-footer>