@mixin transition($args: all 0.3s ease 0s) {
    -webkit-transition: $args;
       -moz-transition: $args;
         -o-transition: $args;
            transition: $args;
  }

/*--------------------------- Color variations ----------------------*/

$primary-color	: #46dbf9;
$primary-color2	: #204be3;
$title-color	: #222222;
$text-color		: #777777;

$white			: #fff;
$offwhite		: #f9f9ff;
$black			: #000;




//--------- End about-video Area -------------//
//--------- Start Feature Area -------------//
.feature-area {
    position: relative;
    &:after {
        content: "";
        position: absolute;
        right: 16%;
        bottom: -100px;
        z-index: -1;
        width: 340px;
        height: 340px;
        background: linear-gradient(to bottom right, transparent 0%, transparent 50%, $primary-color 50%, $primary-color2 100%);
        background: -webkit-linear-gradient(to bottom right, transparent 0%, transparent 50%, $primary-color 50%, $primary-color2 100%);
        background: -moz-linear-gradient(to bottom right, transparent 0%, transparent 50%, $primary-color 50%, $primary-color2 100%);
        background: -ms-linear-gradient(to bottom right, transparent 0%, transparent 50%, $primary-color 50%, $primary-color2 100%);
        background: -o-linear-gradient(to bottom right, transparent 0%, transparent 50%, $primary-color 50%, $primary-color2 100%);
        @media(max-width: 991px) {
            display: none;
        }
    }

    .single-feature {
        background: $white;
        padding: 40px 30px;
        text-align: center;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
        @media (max-width: 991px) {
            margin-bottom: 30px;
        }
        h3 {
            @include transition();
            font-size: 21px;
        }
        .title {
            .lnr {
                @extend .p1-gradient-bg !optional;
                color: $white;
                font-weight: 600;
                font-size: 24px;
                padding: 30px;
                display: inline-block;
                margin-bottom: 40px;
            }
        }
        p {
            margin-bottom: 0px;
            margin-top: 20px;
        }
        &:hover {
            cursor: pointer;
            h3 {
                color: $primary-color;
            }
        }
    }
}

//--------- End Feature Area -------------//
//--------- Start fact Area -------------//
.fact-area {
    .fact-box {
        box-shadow: 0px 20px 50px rgba(153, 153, 153, 0.20);
    }
}

.section-title {
    padding-top: 60px;
    padding-bottom: 60px;
}

.single-feature-rows {    
    padding-bottom: 60px;
}

.single-fact {
    text-align: center;
    margin: 45px 0;
    padding: 8px 16px;
    border-right: 1px solid #ddd;
    @media (max-width: 991px) {
        margin: 10px 0;
        padding: 8px 32px;
    }
    &:last-child {
        border-right: 0;
    }
    h2 {
        font-size: 36px;
        margin-bottom: 5px;
        @media (max-width: 991px) {
            font-size: 25px;
        }
    }
    p {
        margin: 0;
        font-size: 14px;
    }
}

h2 {
    font-family: "Poppins", sans-serif;
    color: #222222;
    line-height: 1.2em !important; 
    margin-bottom: 30px; 
    margin-top: 0; 
    font-weight: 600;
}

h3 {
    
    font-family: "Poppins", sans-serif;
    color: #222222;
    line-height: 1.2em !important; 
    margin-bottom: 0; 
    margin-top: 0; 
    font-weight: 600;
    
}