<!-- Start feature Area -->
<section class="feature-area section-gap-top">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center">
                    <h2>Para Instituiçoes</h2>
                    <p>
                        <span class="atention">Tenha a sua disposição a todo momento o candidato mais qualificado que o mercado pode oferecer SEM GASTAR UM CÉTIMO!</span> veja abaixo o que podemos
                        lhe oferecer, <a routerLink="/institucional">crie já uma conta institucional</a> , é grátis para sempre!
                    </p>
                </div>
            </div>
        </div>
        <div class="row single-feature-rows">
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <a href="#" class="title">
                        <span class="lnr lnr-book"></span>
                        <h3>Estatísticas</h3>
                    </a>
                    <p>
                        Consegue filtrar diferentes dados referentes aos seus candidatos? Os nossos serviços de estatística vão impressioná-lo e tornar a vida FÁCIL.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <a href="#" class="title">
                        <span class="lnr lnr-book"></span>
                        <h3>Recomendações</h3>
                    </a>
                    <p>
                        Não pode confiar somente em currículos. <span class="atention">Saiba o que dizem também as outras empresas sobre o canditado que quer contratar</span>
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <a href="#" class="title">
                        <span class="lnr lnr-book"></span>
                        <h3>FireProof</h3>
                    </a>
                    <p>
                        Já recebeu um certificado falso? Nunca mais o faça, <span class="atention">deixe-nos checar a autenticidade dos documentos por sí com SEGURANÇA.</span>
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End feature Area -->
