<header id="header" class="header-scrolled">
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a routerLink="/"><img src="assets/img/LOGO.png" alt="" title=""></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li><a routerLink="/login">Login</a></li>
                    <li><a routerLink="/signup">Criar conta</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>