<!-- Start fact Area -->
<section class="fact-area">
    <div class="container">
        <div class="fact-box">
            <div class="row align-items-center">
                <div class="col single-fact">
                    <h2>100+</h2>
                    <p>Empresas parceiras</p>
                </div>
                <div class="col single-fact">
                    <h2>+1000</h2>
                    <p>Ofertas de emprego</p>
                </div>
                <div class="col single-fact">
                    <h2>1000+</h2>
                    <p>Estágios</p>
                </div>
                <div class="col single-fact">
                    <h2>100%</h2>
                    <p>de cobertura nacional</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End fact Area -->
