<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form action="#">
			<h1>Alterar Passe</h1>
			<input type="email" placeholder="Número de telefone" />
            <input type="password" placeholder="Digite o código" />
            <input type="password" placeholder="Nova senha" />
            <input type="password" placeholder="Confirmar a senha" />
            <br>
			<a class="enter" routerLink="/login">Alterar</a>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Alterar Senha</h1>
				<p>Digite o seu número de telefone, copie o código que receber por sms no campo Digite o código e altere a senha</p>
			</div>
		</div>
	</div>
</div>

<footer>
	<p>
		Leia os nossos termos de uso e política de privacidade
		<a routerLink="/termos"> clicando aqui</a>.
	</p>
</footer>