<!-- Start about Area -->
<section class="about-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 home-about-left">
                <img class="img-fluid" src="assets/img/iphone.png" alt="">
            </div>
            <div class="offset-lg-1 col-lg-5 home-about-right">
                <h1>
                    Tenha Tudo o que precisa no aplicativo.
                </h1>
                <p>
                    Veja ofertas, concursos, prazos, calendários, empresas, dados e muito mais em um único lugar!
                </p>
                <!--
                <a class="primary-btn text-uppercase" href="#">Get Details</a>
                -->
            </div>
            <div class="col-lg-6 home-about-right home-about-right2">
                <h1>
                   Deixe-nos ajudar com o primeiro emprego!
                </h1>
                <p>
                    Está com medo do mercado de trabalho, não tem experiências, veja a nossa lista EXTENSA de estágios,
                    emprego de meio período e muito mais no aplicativo.
                </p>
               
            </div>
            <div class="col-lg-5 home-about-left">
                <img class="img-fluid" src="assets/img/iphone.png" alt="">
            </div>
        </div>
    </div>
</section>
<!-- End about Area -->