<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form action="#">
			<h1>Entrar</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fa fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fa fa-google"></i></a>
				<a href="#" class="social"><i class="fa fa-twitter"></i></a>
			</div>
			<span>ou use uma de suas contas no:</span>
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Palavra passe" />
			<a routerLink="/recovery">Clique aqui recuperar a palavra passe.</a>
			<button class="enter">Entrar</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Crie uma conta</h1>
				<p>O primeiro passo para o emprego começa com a criação de uma conta.</p>
                <a class="ghost" id="signUp" routerLink="/signup">criar conta</a>
			</div>
		</div>
	</div>
</div>

<footer>
	<p>
		Leia os nossos termos de uso e política de privacidade
		<a routerLink="/termos"> clicando aqui</a>.
	</p>
</footer>